<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- Meta tags Obrigatórias -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <title></title>
</head>

<body>
  <div class="btn">
      <a href="../home/home.component.html"><button type="button" class="btn btn-primary btn-sm">Voltar</button></a>
  </div>  
  <div>
    <div class="card-group">
      <div class="card">
        <img class="card-img-top" src="assets/img/quadro1.jpg" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Matheus Vital</h5>
          <p class="card-text">Idade: 03 Anos<br>Cidade: Manaus</p>
          <a href="" class="btn btn-info">Conhecer</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/img/quadro5.jpeg" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Mauro Nunes</h5>
          <p class="card-text">Idade: 04 Anos<br>Cidade: Rio de Janeiro</p>
          <a href="#" class="btn btn-info">Conhecer</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/img/quadro2.jpg" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Luan Marques</h5>
          <p class="card-text">Idade: 06 Meses<br>Cidade: São Paulo</p>
          <a href="#" class="btn btn-info">Conhecer</a>
        </div>
      </div>
    </div>

    <br>

    <div class="card-group">
      <div class="card">
        <img class="card-img-top" src="assets/img/quadro4.jpeg" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Catharina Viana</h5>
          <p class="card-text">Idade: 04 Anos<br>Cidade: Cuiabá</p>
          <a href="#" class="btn btn-info">Conhecer</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/img/quadro8.jpeg" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Erika Oliveira</h5>
          <p class="card-text">Idade: 07 Anos<br>Cidade: Minas Gerais</p>
          <a href="#" class="btn btn-info">Conhecer</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/img/quadro9.jpeg" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Thuany Santos</h5>
          <p class="card-text">Idade: 05 Anos<br>Cidade: Rio Branco</p>
          <a href="#" class="btn btn-info">Conhecer</a>
        </div>
      </div>
    </div>
  </div>

  <!-- JavaScript (Opcional) -->
  <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>