.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  padding: 10px;
  margin-top: 10pt;
}
.name{
  color: black;
  font-size: 30px;
}  
.title {
  color: grey;
  font-size: 14px;
}
.cidade {
  color: black;
  font-size: 25px;
}
button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}
a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
button:hover, a:hover {
  opacity: 0.7;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.card-img-top {
  height: 180px;
}
