<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- Meta tags Obrigatórias -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <title>Olá, mundo!</title>
</head>

<body>
  <div class="btn">
    <a href="../home/home.component.html"><button type="button" class="btn btn-primary btn-sm">Voltar</button></a>
  </div>


  <!-- JavaScript (Opcional) -->
  <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

  <div class="item-page">
    <p><strong>Hospital Estadual Mário Covas</strong><br>Rua Dr. Henrique Calderazzo,321<br>Santo André - SP - Tel:
      2829-5162 / 2829-5144<br>Segunda a sábado das 8h às 13h (exceto feriado)<br>Estacionamento gratuito no local</p>
    <p><a
        href="http://www.google.com.br/maps?q=R.+Dr.+Henrique+Calderazzo,+321+-+Bairro+Para%C3%ADso,+Santo+Andr%C3%A9+-+S%C3%A3o+Paulo,+09190-615&amp;hl=pt-BR&amp;ie=UTF8&amp;ll=-23.671274,-46.538365&amp;spn=0.012047,0.027466&amp;sll=-14.239424,-53.186502&amp;sspn=50.603317,79.013672&amp;vpsrc=6&amp;geocode=FWfNlv4dj_E5_Q&amp;hnear=R.+Dr.+Henrique+Calderazzo,+321+-+Bairro+Para%C3%ADso,+Santo+Andr%C3%A9+-+S%C3%A3o+Paulo,+09190-615&amp;t=m&amp;z=16"
        target="_blank">Ver mapa</a></p>
    <hr>
    <p><strong>Centro Hospitalar Santo André</strong><br>Av. João Ramalho,326<br>Santo André - SP - Tel:
      4433-3718<br>Segunda a sábado das 8h às 13h (exceto feriado)</p>
    <p><a
        href="http://www.google.com.br/maps?q=Avenida+Jo%C3%A3o+Ramalho,+326,+Santo+Andr%C3%A9+-+S%C3%A3o+Paulo&amp;hl=pt-BR&amp;ie=UTF8&amp;ll=-23.664965,-46.527293&amp;spn=0.012047,0.01929&amp;sll=-23.671274,-46.534266&amp;sspn=0.012047,0.01929&amp;vpsrc=0&amp;hnear=Av.+Jo%C3%A3o+Ramalho,+326+-+Vila+Assun%C3%A7%C3%A3o,+Santo+Andr%C3%A9+-+S%C3%A3o+Paulo,+09030-320&amp;t=m&amp;z=16"
        target="_blank">Ver mapa</a></p>
    <hr>
    <p><strong>Hemocentro Regional São Bernardo do Campo - Colsan</strong><br>Rua Pedro Jacobucci, 440 - Jardim das
      Américas<br>São Bernardo do Campo - SP -Tel: 4332-3900<br>Segunda a sábado das 8h às 13h (exceto
      feriado)<br>Estacionamento gratuito:Estádio 1º de maio - acesso pela Rua Pedro Jabobucci S/N (Rua localizada entre
      Hemocentro SBC e CAPS)</p>
    <p><a
        href="https://maps.google.com.br/maps?q=Rua+Pedro+Jacobuci,+440+Jardim+das+Am%C3%A9ricas,+S%C3%A3o+Paulo&amp;hl=pt-BR&amp;ie=UTF8&amp;ll=-23.698872,-46.555392&amp;spn=0.006454,0.011319&amp;sll=-23.696948,-46.555529&amp;sspn=0.006455,0.011319&amp;hnear=Rua+Pedro+Jacobuci,+440+-+Jardim+das+Am%C3%A9ricas,+S%C3%A3o+Paulo,+09725-750&amp;t=m&amp;z=17&amp;iwloc=A"
        target="_blank">Ver mapa</a></p>
    <hr>
    <p><strong>Núcleo Regional de Hemoterapia Dr. Aguinaldo Quaresma</strong><br>Rua Peri, 361 - Oswaldo Cruz<br>São
      Caetano do Sul - SP - Tel: 4227-1083<br>Segunda a sábado das 8h às 12h (exceto feriado)</p>
    <p><a
        href="https://www.google.com.br/maps/place/R.+Peri,+361+-+Osvaldo+Cruz,+S%C3%A3o+Caetano+do+Sul+-+SP,+09540-290/@-23.6249882,-46.5665033,17z/data=!3m1!4b1!4m2!3m1!1s0x94ce5cc4b4de2d81:0x2adffeb40c55b716"
        target="_blank">Ver mapa</a></p>
    <hr>
    <p><strong>Hospital Municipal Dr. Carmino Caricchio - Tatuapé</strong><br>Av. Celso Garcia,4815 - Tatuapé<br>São
      Paulo - SP - Tel: 2942-8094 / 3394-7081<br><span style="font-family: tahoma;">&nbsp;</span><span
        style="font-family: tahoma;">Segunda a sábado das <span style="font-family: tahoma;">8h às
          12h30</span></span>&nbsp;(exceto feriado)<br><span
        style="font-family: tahoma; line-height: 11px;">Estacionamento gratuito: Rua Síria, 22 (Banco Itaú) de segunda a
        sexta -feira</span></p>
    <p><a
        href="https://www.google.com.br/maps?q=Av.+Celso+Garcia+-+Br%C3%A1s,+S%C3%A3o+Paulo&amp;hl=pt-BR&amp;ie=UTF8&amp;ll=-23.535485,-46.582675&amp;spn=0.012059,0.01929&amp;geocode=FUDQmP4dLcg4_Q&amp;hnear=Av.+Celso+Garcia+-+Br%C3%A1s,+S%C3%A3o+Paulo&amp;t=m&amp;z=16&amp;vpsrc=6;hl=pt-BR&amp;ie=UTF8&amp;ll=-23.535485,-46.582675&amp;spn=0.012059,0.01929&amp;geocode=FUDQmP4dLcg4_Q&amp;hnear=Av.+Celso+Garcia+-+Br%C3%A1s,+S%C3%A3o+Paulo&amp;t=m&amp;z=16&amp;vpsrc=6"
        target="_blank">Ver mapa</a></p>
    <hr>
    <p><strong>Hospital Municipal Alípio Correa Neto – Ermelino Matarazzo</strong></p>
    <p>Al.Rodrigo de Brum, 1989 <br>São Paulo - SP – Tel: 2545-4652 <br>Segunda a sábado das 8h às 12:30h (exceto
      feriado)</p>
    <p><a
        href="http://www.google.com.br/maps?q=Alameda+Rodrigo+de+Brum+-+Ermelino+Matarazzo,+S%C3%A3o+Paulo,+03807-230&amp;hl=pt-BR&amp;ie=UTF8&amp;sll=-23.49725,-46.439932&amp;sspn=0.012063,0.01929&amp;vpsrc=0&amp;geocode=FTJpmf4du-I6_Q&amp;hnear=Alameda+Rodrigo+de+Brum+-+Ermelino+Matarazzo,+S%C3%A3o+Paulo,+03807-230&amp;t=m&amp;z=16"
        target="_blank">Ver mapa</a></p>
    <hr>
    <p><strong>Hospital do Servidor Público Municipal – Aclimação</strong><br>R. Castro Alves , 60 – 4º andar<br>São
      Paulo – SP – Tel: 3277-5303<br>Segunda a sábado das 8h às <span
        style="font-family: tahoma; color: #000000;">12h30</span>&nbsp;(exceto feriado)<br>Estacionamento gratuito aos
      sábados no local</p>
    <p>&nbsp;<a
        href="http://www.google.com.br/maps?q=R.+Castro+Alves+,+60+%E2%80%93+4%C2%BA+andar+%E2%80%93+sao+paulo&amp;hl=pt-BR&amp;ie=UTF8&amp;sll=-23.583516,-46.610591&amp;sspn=0.012055,0.01929&amp;vpsrc=0&amp;hnear=R.+Castro+Alves,+60+-+Liberdade,+S%C3%A3o+Paulo,+01532-000&amp;t=m&amp;z=16"
        target="_blank">Ver mapa</a></p>
    <hr>
    <p><strong>Hospital Municipal Dr. Fernando Mauro P. da Rocha - Campo Limpo</strong><br>Estrada Itapecerica
      1661<br>São Paulo - SP - Tel: 5812-1379<br>Segunda a sábado das 8h às 13h (exceto feriado)</p>
    <p><a
        href="http://www.google.com.br/maps?q=Estrada+Itapecerica+1661+%E2%80%93+sao+paulo&amp;hl=pt-BR&amp;ie=UTF8&amp;sll=-23.567008,-46.638687&amp;sspn=0.012056,0.01929&amp;vpsrc=0&amp;hnear=Estr.+de+Itapecerica,+1661+-+Jardim+S%C3%A3o+Lu%C3%ADs,+S%C3%A3o+Paulo,+05835-005&amp;t=m&amp;z=16"
        target="_blank">Ver mapa</a></p>
    <hr>
    <p><strong>Colsan Jundiaí</strong><br>Rua XV de Novembro 1848<br>Jundiaí - SP -Tel: (11) 4521-4025<br>Segunda a
      sábado das 7h30 às 12h30 (exceto feriado)<br>Estacionamento gratuito: Av. dos Ferroviários, 2100</p>
    <p><a
        href="http://www.google.com.br/maps?q=Rua+15+de+Novembro,+1848,+Jundia%C3%AD+-+S%C3%A3o+Paulo&amp;hl=pt-BR&amp;ie=UTF8&amp;sll=-23.647914,-46.748235&amp;sspn=0.012049,0.01929&amp;vpsrc=0&amp;hnear=R.+Quinze+de+Novembro,+1848+-+Centro,+Jundia%C3%AD+-+S%C3%A3o+Paulo,+13201-305&amp;t=m&amp;z=16"
        target="_blank">Ver mapa</a></p>
    <hr>
    <p dir="ltr"><strong style="font-family: verdana, geneva;"><span
          style="line-height: 115%; background-image: initial; background-position: initial; background-repeat: initial; background-attachment: initial;">&nbsp;</span></strong>
    </p>
    <p dir="ltr"><span style="font-family: verdana, geneva;"><span style="line-height: 115%;"><span
            style="background-image: initial; background-position: initial; background-repeat: initial; background-attachment: initial;"><strong><span
                style="line-height: 115%; background-image: initial; background-position: initial; background-repeat: initial; background-attachment: initial;">Colsan
                Sorocaba</span></strong><span style="line-height: 115%;"><br> <span
                style="background-image: initial; background-position: initial; background-repeat: initial; background-attachment: initial;">Av.
                Comendador Pereira Inácio, 564</span><br> <span
                style="background-image: initial; background-position: initial; background-repeat: initial; background-attachment: initial;">Sorocaba
                – SP – Tel: (15) 3224-2930 / 3332-9461</span><br> <span
                style="background-image: initial; background-position: initial; background-repeat: initial; background-attachment: initial;">Segunda
                a sábado das 7h30 às 12h30 (exceto feriado)</span></span><br><span
              style="line-height: 115%; background-image: initial; background-position: initial; background-repeat: initial; background-attachment: initial;">O
              atendimento é limitado a 170 candidatos/dia.</span><span style="line-height: 115%;"><br> <span
                style="background-image: initial; background-position: initial; background-repeat: initial; background-attachment: initial;">Estacionamento
                gratuito no local</span></span></span></span></span></p>
    <p><a
        href="http://www.google.com.br/maps?q=Avenida+Comendador+Pereira+In%C3%A1cio,+564,+Sorocaba+-+S%C3%A3o+Paulo&amp;hl=pt-BR&amp;ie=UTF8&amp;ll=-23.510852,-47.455208&amp;spn=0.012062,0.01929&amp;sll=-23.181564,-46.884194&amp;sspn=0.012092,0.01929&amp;vpsrc=6&amp;hnear=Av.+Comendador+Pereira+In%C3%A1cio,+564+-+Jardim+Faculdade,+Sorocaba+-+S%C3%A3o+Paulo,+18030-005&amp;t=m&amp;z=16"
        target="_blank">Ver mapa</a></p>
    <hr>
    <p><br><strong>Hemonúcleo de Santos-Colsan</strong><br>Rua Oswaldo Cruz, 197, Santos-SP<br>Tel: (<span
        style="font-family: tahoma;">13) <span
          style="font-family: tahoma, arial, helvetica, sans-serif;">3223-2860</span></span><br><span
        style="font-family: tahoma, arial, helvetica, sans-serif;">Segunda</span> a Sábado das 8h às 12h30 (exceto
      feriado)<br><a
        href="https://www.google.com.br/maps/place/R.+Oswaldo+Cruz,+197+-+Boqueir%C3%A3o,+Santos+-+SP/@-23.9623954,-46.3237726,17z/data=!3m1!4b1!4m2!3m1!1s0x94ce03a887297915:0x54ff9850e8fe5a06"
        target="_blank">Ver mapa</a></p>
    <p>&nbsp;</p>

  </div>
</body>

</html>