<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" src="/front/graacc/src/app/home/home.component.css" />
</head>

<body>
  <img src="assets/img/social-graac.png" width="50%" class="center" />
  <main>
    <section class="cards">
      <article>
        <a href="doacao-cabelo"><img class="article-img" src="assets/img/botao-home.png" alt=" " /> </a>
        <h1 class="article-title">
          Cabelos
        </h1>
      </article>
      <article>
        <a href="doacao-sangue"><img class="article-img" src="assets/img/botao-home.png" alt=" " /></a>
        <h1 class="article-title">
          Sangue
        </h1>
      </article>
      <article>
        <a href="doacao-medula"><img class="article-img" src="assets/img/botao-home.png" alt=" " /></a>
        <h1 class="article-title">
          Medula
        </h1>
      </article>
      <article>
        <a href="doacoes"><img class="article-img" src="assets/img/botao-home.png" alt=" " /></a>
        <h1 class="article-title">
          Doações
        </h1>
      </article>
      <article>
        <a href="adocao"><img class="article-img" src="assets/img/botao-home.png" alt=" " /></a>
        <h1 class="article-title">
          Apadrinhamento
        </h1>
      </article>
      <article>
        <a href="eventos"><img class="article-img" src="assets/img/botao-home.png" alt=" " /></a>
        <h1 class="article-title">
          Eventos
        </h1>
      </article>
    </section>
    <section class="logout">
      <article>
        <h1 >
        <a href="../login">Sair</a>
      </h1>
      </article>
    </section>
  </main>
</body>

</html>